<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %> 
    <title>Completed Registration</title>
</head>
<body>
    <div id="signedup-container">
        <header id="signedup-header">You have Completed your Registration!</header>
        <p id="signedup-txt">Please go to the <a href="/api/v1/email-signup/login">Login</a> page to login</p>
    </div>
</body>
</html>