<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %> 
    <title>Signed Up</title>
</head>
<body>
    <div id="signedup-container">
        <header id="signedup-header">Thanks for Signing Up!</header>
        <p id="signedup-txt">An email from our Email Sign-Up Team was just sent to you. Please follow the directions in it to complete your registration.</p>
    </div>
</body>
</html>